* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: sans-serif;
    background-color: rgb(25, 25, 25);
}
nav {
    display: flex;
    justify-content: center;
}
nav a {
    text-decoration: none;
    color: rgb(244, 244, 244);
}
nav a:active {
    text-decoration: none;
    color: black;
}
nav ul {
    list-style: none;
    display: flex;
    width: 80%;

    justify-content: center;
    margin: 30px 0px;
}
nav ul li {
    margin: 1% 8%;
}



main {
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    color: rgb(244, 244, 244);
}